<div
  class="p-4 bg-white block sm:flex items-center justify-between border-b border-gray-200 lg:mt-1.5 dark:bg-gray-800 dark:border-gray-700">
  <div class="w-full mb-1">
    <div class="mb-4">
      <nav aria-label="Breadcrumb" class="flex mb-5">
        <ol class="inline-flex items-center space-x-1 text-sm font-medium md:space-x-2">
          <li class="inline-flex items-center">
            <a
              class="inline-flex items-center text-gray-700 hover:text-primary-600 dark:text-gray-300 dark:hover:text-white"
              href="#">
              <svg class="w-5 h-5 mr-2.5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"></path>
              </svg>
              Home
            </a>
          </li>
          <li>
            <div class="flex items-center">
              <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20"
                   xmlns="http://www.w3.org/2000/svg">
                <path clip-rule="evenodd"
                      d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                      fill-rule="evenodd"></path>
              </svg>
              <a class="ml-1 text-gray-700 hover:text-primary-600 md:ml-2 dark:text-gray-300 dark:hover:text-white"
                 href="#">Submissions</a>
            </div>
          </li>
        </ol>
      </nav>
      <h1 class="text-xl font-semibold text-gray-900 sm:text-2xl dark:text-white">All Documents</h1>
    </div>
    <div class="sm:flex">
      <div class="items-center hidden mb-3 sm:flex sm:divide-x sm:divide-gray-100 sm:mb-0 dark:divide-gray-700">
        <form class="lg:pr-3">
          <label class="sr-only">Search</label>
          <div class="relative mt-1 lg:w-64 xl:w-96">
            <input
              class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
              id="users-search" name="email"
              placeholder="Search for documents"
              type="text">
          </div>
        </form>
      </div>
      <div class="flex items-center ml-auto space-x-2 sm:space-x-3">
        <button (click)="newDocument()"
                class="inline-flex items-center justify-center w-1/2 px-3 py-2 text-sm font-medium text-center text-white rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 sm:w-auto dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
                data-modal-toggle="add-user-modal"
                type="button">
          <svg class="w-5 h-5 mr-2 -ml-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path clip-rule="evenodd"
                  d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z"
                  fill-rule="evenodd"></path>
          </svg>
          Add Document
        </button>
      </div>
    </div>
  </div>
</div>
<div class="flex flex-col">
  <div class="overflow-x-auto">
    <div class="inline-block min-w-full align-middle">
      <div class="overflow-hidden shadow">
        <table class="min-w-full divide-y divide-gray-200 table-fixed dark:divide-gray-600">
          <thead class="bg-gray-100 dark:bg-gray-700">
          <tr>
            <th class="p-4" scope="col">
              <div class="flex items-center">
                <input aria-describedby="checkbox-1"
                       class="w-4 h-4 border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-primary-300 dark:focus:ring-primary-600 dark:ring-offset-gray-800 dark:bg-gray-700 dark:border-gray-600"
                       id="checkbox-all"
                       type="checkbox">
                <label class="sr-only">checkbox</label>
              </div>
            </th>
            <th class="p-4 text-xs font-medium text-left text-gray-500 uppercase dark:text-gray-400" scope="col">
              Title
            </th>
            <th class="p-4 text-xs font-medium text-left text-gray-500 uppercase dark:text-gray-400" scope="col">
              Handler
            </th>
            <th class="p-4 text-xs font-medium text-left text-gray-500 uppercase dark:text-gray-400" scope="col">
              Position
            </th>
            <th class="p-4 text-xs font-medium text-left text-gray-500 uppercase dark:text-gray-400" scope="col">
              Last Modified
            </th>
            <th class="p-4 text-xs font-medium text-left text-gray-500 uppercase dark:text-gray-400" scope="col">
              Status
            </th>
            <th class="p-4 text-xs font-medium text-left text-gray-500 uppercase dark:text-gray-400" scope="col">
              Actions
            </th>
          </tr>
          </thead>
          <tbody *ngIf="documents.length > 0"
                 class="bg-white divide-y divide-gray-200 dark:bg-gray-800 dark:divide-gray-700">
          <tr *ngFor="let d of documents; let i = index" class="hover:bg-gray-100 dark:hover:bg-gray-700">
            <td class="w-4 p-4">
              <div class="flex items-center">
                <input aria-describedby="checkbox-1"
                       class="w-4 h-4 border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-primary-300 dark:focus:ring-primary-600 dark:ring-offset-gray-800 dark:bg-gray-700 dark:border-gray-600"
                       id="checkbox-{{ i }}"
                       type="checkbox">
                <label class="sr-only" for="checkbox-{{ i }}">checkbox</label>
              </div>
            </td>
            <td class="flex items-center p-4 mr-12 space-x-6 whitespace-nowrap">
              <div class="text-sm font-normal text-gray-500 dark:text-gray-400">
                <div class="text-base font-semibold text-gray-900 dark:text-white">{{ d.title }}</div>
                <div class="text-sm font-normal text-gray-500 dark:text-gray-400">{{ d?.reviewerComment }}</div>
              </div>
            </td>
            <td
              class="max-w-sm p-4 overflow-hidden text-base font-normal text-gray-500 truncate xl:max-w-xs dark:text-gray-400">{{ 'NA' }}</td>
            <td class="p-4 text-base font-medium text-gray-900 whitespace-nowrap dark:text-white">{{d.handlers.length}}
              /{{d?.workflow === null ? 'NA' : 5}}</td>
            <td
              class="p-4 text-base font-medium text-gray-900 whitespace-nowrap dark:text-white">{{d.updatedAt | date}}</td>
            <td class="p-4 text-base font-normal text-gray-900 whitespace-nowrap dark:text-white">
              <div class="flex items-center">
                <span
                  [ngClass]="pillColor(d.state)"
                  class="text-slate-200 text-xs font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300">{{d.state}}</span>
              </div>
            </td>
            <td class="p-4 space-x-2 whitespace-nowrap">
              <button (click)="publishDocument(d)" *ngIf="d?.currentlyAssignedId === null; else nudgeElse;"
                      class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white rounded-lg border-2 text-primary-700 border-primary-700 hover:bg-primary-800 hover:text-white focus:ring-4 focus:ring-primary-300  border-primary-700 dark:focus:ring-prim hover:text-whiteary-800"
                      data-modal-toggle="edit-user-modal"
                      type="button">
                <svg class="w-4 h-4 mr-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                  <path d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z"></path>
                  <path clip-rule="evenodd"
                        d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z"
                        fill-rule="evenodd"></path>
                </svg>
                <span *ngIf="!isPublishing  || d.id !== doc?.id">Publish</span>
                <app-spinner *ngIf="isPublishing&& d.id === doc?.id"></app-spinner>
              </button>
              <ng-template #nudgeElse>
                <button (click)="sendNudge(d)" *ngIf="d.state !== states.CHANGE_REQUESTED; else resolveElse;"
                        [disabled]="d.state !== states.PENDING"
                        class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white rounded-lg border-2 text-primary-700 border-primary-700 hover:bg-primary-800 hover:text-white focus:ring-4 focus:ring-primary-300  border-primary-700 dark:focus:ring-prim hover:text-whiteary-800"
                        data-modal-toggle="edit-user-modal"
                        type="button">
                  <svg class="w-4 h-4 mr-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z"></path>
                    <path clip-rule="evenodd"
                          d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z"
                          fill-rule="evenodd"></path>
                  </svg>
                  <span *ngIf="!isNudging || d.id !== doc?.id">Nudge</span>
                  <app-spinner *ngIf="isNudging&& d.id === doc?.id"></app-spinner>
                </button>
              </ng-template>
              <ng-template #resolveElse>
                <button (click)="resolveDocument(d)"
                        class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white rounded-lg border-2 text-primary-700 border-primary-700 hover:bg-primary-800 hover:text-white focus:ring-4 focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
                        data-modal-toggle="edit-user-modal"
                        type="button">
                  <svg class="w-4 h-4 mr-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z"></path>
                    <path clip-rule="evenodd"
                          d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z"
                          fill-rule="evenodd"></path>
                  </svg>
                  <span *ngIf="!isModifying|| d.id !== doc?.id">Resolve</span>
                  <app-spinner *ngIf="isModifying&& d.id === doc?.id"></app-spinner>
                </button>
              </ng-template>

              <button (click)="editDocument(d)" [disabled]="d.state !== states.DRAFT"
                      class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
                      data-modal-toggle="edit-user-modal"
                      type="button">
                <svg class="w-4 h-4 mr-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                  <path d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z"></path>
                  <path clip-rule="evenodd"
                        d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z"
                        fill-rule="evenodd"></path>
                </svg>
                <span *ngIf="!isModifying|| d.id !== doc?.id">Modify</span>
                <app-spinner *ngIf="isModifying&& d.id === doc?.id"></app-spinner>
              </button>
              <button (click)="deleteDoc(d)" [disabled]="d.state !== states.DRAFT || isDeleting"
                      class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-red-600 rounded-lg hover:bg-red-800 focus:ring-4 focus:ring-red-300 dark:focus:ring-red-900"
                      data-modal-toggle="delete-user-modal"
                      type="button">
                <svg class="w-4 h-4 mr-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                  <path clip-rule="evenodd"
                        d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z"
                        fill-rule="evenodd"></path>
                </svg>
                <span *ngIf="!isDeleting|| d.id !== doc?.id">Delete</span>
                <app-spinner *ngIf="isDeleting && d.id === doc?.id"></app-spinner>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
        <div *ngIf="documents.length < 1"
             class="flex flex-col mx-auto mt-6 items-center bg-gray-100 dark:bg-gray-700 rounded py-8 w-full">
          <div class="bg-blue-200 text-blue-500 rounded-full p-8 w-fit mb-4">
            <svg class="w-8 h-8" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24"
                 xmlns="http://www.w3.org/2000/svg">
              <path
                d="M19.5 14.25v-2.625a3.375 3.375 0 00-3.375-3.375h-1.5A1.125 1.125 0 0113.5 7.125v-1.5a3.375 3.375 0 00-3.375-3.375H8.25m2.25 0H5.625c-.621 0-1.125.504-1.125 1.125v17.25c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125V11.25a9 9 0 00-9-9z"
                stroke-linecap="round"
                stroke-linejoin="round"/>
            </svg>
          </div>
          <div class="my-2 font-bold text-xl">You're all caught up</div>
          <p class="my-2">
            You haven't created any documents. Created documents will appear here.
          </p>
          <button (click)="newDocument()"
                  class="inline-flex items-center justify-center w-1/2 px-3 py-2 text-sm font-medium text-center text-white rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 sm:w-auto dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
                  data-modal-toggle="add-user-modal"
                  type="button">
            <svg class="w-5 h-5 mr-2 -ml-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
              <path clip-rule="evenodd"
                    d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z"
                    fill-rule="evenodd"></path>
            </svg>
            Add Document
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div
  class="sticky bottom-0 right-0 items-center w-full p-4 bg-white border-t border-gray-200 sm:flex sm:justify-between dark:bg-gray-800 dark:border-gray-700">
  <div class="flex items-center mb-4 sm:mb-0">
    <a
      (click)="previousPage()"
      class="inline-flex justify-center p-1 text-gray-500 rounded cursor-pointer hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
      <svg class="w-7 h-7" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <path clip-rule="evenodd"
              d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
              fill-rule="evenodd"></path>
      </svg>
    </a>
    <a
      (click)="nextPage()"
      class="inline-flex justify-center p-1 mr-2 text-gray-500 rounded cursor-pointer hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
      <svg class="w-7 h-7" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <path clip-rule="evenodd"
              d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
              fill-rule="evenodd"></path>
      </svg>
    </a>
    <span class="text-sm font-normal text-gray-500 dark:text-gray-400">Showing <span
      class="font-semibold text-gray-900 dark:text-white">{{(pagination.take * pagination.page) - pagination.take + 1}}
      -{{(pagination.take * pagination.page) < paginationMeta.itemCount ? (pagination.take * pagination.page) : paginationMeta.itemCount}}</span> of <span
      class="font-semibold text-gray-900 dark:text-white">{{paginationMeta.itemCount}}</span></span>
  </div>
  <div class="flex items-center space-x-3">
    <a
      (click)="previousPage()"
      class="cursor-pointer inline-flex items-center justify-center flex-1 px-3 py-2 text-sm font-medium text-center text-white rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
      <svg class="w-5 h-5 mr-1 -ml-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <path clip-rule="evenodd"
              d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
              fill-rule="evenodd"></path>
      </svg>
      Previous
    </a>
    <a
      (click)="nextPage()"
      class="cursor-pointer inline-flex items-center justify-center flex-1 px-3 py-2 text-sm font-medium text-center text-white rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
      Next
      <svg class="w-5 h-5 ml-1 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <path clip-rule="evenodd"
              d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
              fill-rule="evenodd"></path>
      </svg>
    </a>
  </div>
</div>

<div *ngIf="showNewModal"
     class="fixed left-0 right-0 z-50 items-center justify-center overflow-x-hidden overflow-y-auto top-4 md:inset-0 h-modal sm:h-full"
     id="add-user-modal">
  <div class="relative w-full h-full max-w-2xl px-4 md:h-auto mx-auto my-auto">
    <!-- Modal content -->
    <div class="relative bg-white rounded-lg shadow dark:bg-gray-800">
      <!-- Modal header -->
      <div class="flex items-start justify-between p-5 border-b rounded-t dark:border-gray-700">
        <h3 class="text-xl font-semibold dark:text-white">
          {{formMode === 'resolve' ? 'Resolve Document' : formMode === 'edit' ? 'Edit Document' : 'New Document'}}
        </h3>
        <button
          (click)="showNewModal=false"
          class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-700 dark:hover:text-white"
          data-modal-toggle="add-user-modal" type="button">
          <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path clip-rule="evenodd"
                  d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                  fill-rule="evenodd"></path>
          </svg>
        </button>
      </div>
      <!-- Modal body -->
      <div class="p-6 space-y-6">
        <form [formGroup]="docForm" class="text-left">
          <div class="grid grid-cols-6 gap-6">
            <div class="col-span-6 ">
              <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="title">
                Title</label>
              <input
                class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg
                 focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700
                 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500
                  dark:focus:border-primary-500"
                formControlName="title" id="title"
                id="title" name="title"
                placeholder="Enter title" required type="text">
            </div>
            <div class="col-span-6">
              <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                     for="description">Description</label>
              <angular-editor [(ngModel)]="description" [placeholder]="'Enter text here...'"
                              class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border
                              border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700
                              dark:border-gray-600 dark:placeholder-gray-400 dark:text-white
                              dark:focus:ring-primary-500 dark:focus:border-primary-500"
                              formControlName="description"
                              id="description"></angular-editor>
            </div>
          </div>
        </form>
      </div>
      <!-- Modal footer -->
      <div class="items-center p-6 border-t border-gray-200 rounded-b dark:border-gray-700">
        <button (click)="saveDocument()" [disabled]="docForm.invalid || isSaving || isModifying"
                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center mr-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 disabled:cursor-not-allowed"
                type="button">
          <svg *ngIf="!isSaving && !isModifying" class="w-5 h-5 mr-2 -ml-1" fill="none" stroke="currentColor"
               stroke-width="1.5" viewBox="0 0 24 24"
               xmlns="http://www.w3.org/2000/svg">
            <path d="M12 4.5v15m7.5-7.5h-15" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          <app-spinner *ngIf="isModifying || isSaving"></app-spinner>

          Save
        </button>
      </div>
    </div>
  </div>
</div>
