<div class="px-4 pt-6">
  <div class="grid gap-4 grid-cols-1">
    <div
      class="p-4 bg-white border border-gray-200 rounded-lg shadow-sm 2xl:col-span-2 dark:border-gray-700 sm:p-6 dark:bg-gray-800">
      <div class="flex items-center justify-between mb-4">
        <div class="flex-shrink-0">
          <span
            class="text-xl font-bold leading-none text-gray-900 sm:text-2xl dark:text-white">{{pageData?.submissions | number}}</span>
          <h3 class="text-base font-light text-gray-500 dark:text-gray-400">Submissions last week</h3>
        </div>
        <div class="flex items-center justify-end flex-1 text-base font-medium text-green-500 dark:text-green-400">
          12.5%
          <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path clip-rule="evenodd"
                  d="M5.293 7.707a1 1 0 010-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 01-1.414 1.414L11 5.414V17a1 1 0 11-2 0V5.414L6.707 7.707a1 1 0 01-1.414 0z"
                  fill-rule="evenodd"></path>
          </svg>
        </div>
      </div>
      <div id="main-chart">
        <apx-chart [chart]="chart"
                   [dataLabels]="chartOptions.dataLabels"
                   [series]="pageData.weeklySubmissions"
                   [stroke]="stroke"
                   [tooltip]="chartOptions.tooltip"
                   [xaxis]="xaxis"></apx-chart>
      </div>
    </div>
  </div>
  <div class="grid w-full grid-cols-1 gap-4 mt-4 xl:grid-cols-2 2xl:grid-cols-3">
    <div
      class="items-center justify-between p-4 bg-white border border-gray-200 rounded-lg shadow-sm sm:flex dark:border-gray-700 sm:p-6 dark:bg-gray-800">
      <div class="w-full">
        <h3 class="text-base font-normal text-gray-500 dark:text-gray-400">Total Submissions</h3>
        <span
          class="text-2xl font-bold leading-none text-gray-900 sm:text-3xl dark:text-white">{{pageData?.submissions | number}}</span>
      </div>
      <div class="w-full" id="new-products-chart"></div>
    </div>
    <div
      class="items-center justify-between p-4 bg-white border border-gray-200 rounded-lg shadow-sm sm:flex dark:border-gray-700 sm:p-6 dark:bg-gray-800">
      <div class="w-full">
        <h3 class="text-base font-normal text-gray-500 dark:text-gray-400">Handlers</h3>
        <span
          class="text-2xl font-bold leading-none text-gray-900 sm:text-3xl dark:text-white">{{pageData?.students | number}}</span>
      </div>
      <div class="w-full" id="week-signups-chart"></div>
    </div>
    <div class="p-4 bg-white border border-gray-200 rounded-lg shadow-sm dark:border-gray-700 sm:p-6 dark:bg-gray-800">
      <div class="w-full">
        <h3 class="mb-2 text-base font-normal text-gray-500 dark:text-gray-400">Submissions by category</h3>
        <div *ngFor="let c of pageData?.submissionsByCategory" class="flex items-center mb-2">
          <div class="w-16 text-sm font-medium dark:text-white mr-3 capitalize">{{c.state}}</div>
          <div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-700">
            <div class="bg-primary-600 h-2.5 rounded-full dark:bg-primary-500" [ngStyle]="{ 'width': calcPercent(c.count) + '%' }"></div>
          </div>
        </div>
      </div>
      <div class="w-full" id="traffic-channels-chart"></div>
    </div>
  </div>
</div>
